:root {
  --st-foreground: #000;
  --st-background: #fff;
}

body.dark {
  --st-foreground: #fff;
  --st-background: #000;
}

button {
  background-color: var(--st-background);
  color: var(--st-foreground);
}
