@use "sass:string";

/// Replace `$search` with `$replace` in `$string`.
/// @group string
/// 
/// @param {String} $string - String
/// @param {String} $search - Value to replace.
/// @param {String} $replace - New value.
///
/// @returns {String} - Replaced string

@function replace($string, $search, $replace: '') {
  $index: string.index($string, $search);
  
  @if $index {
    $done: string.slice($string, 1, $index - 1);
    $next: string.slice($string, $index + string.length($search));

    @return $done + $replace + replace($next, $search, $replace);
  }
  
  @return $string;
}
