@use "sass:map";
@use "sass:list";
@use "./extended/map" as emap;
@use "./extended/list" as elist;
@use "./extended/string" as estring;

/// Flattens theme properties.
///
/// @see flatten

@function flatten-themes($themes, $separator) {
  $flatten: ();

  @each $theme, $properties in $themes {
    $flatten: map.merge(
      $flatten,
      (
        $theme: emap.flatten($properties, $separator),
      )
    );
  }

  @return $flatten;
}

/// Transform property to CSS custom property accessor.
///
/// @param {String} $property - Property to transform.
/// @param $fallback - CSS var() fallback value.
///
/// @returns {String}

@function accessor($property, $fallback, $prefix) {
  @if ($fallback) {
    @return var(--#{$prefix}#{$property}, $fallback);
  } @else {
    @return var(--#{$prefix}#{$property});
  }
}
